@use "../Responsive.scss" as Device;

.container {
  margin-top: 80px;
  margin-bottom: 80px;
}

.container2 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-direction: row;

  @include Device.Responsive(mobile) {
    flex-direction: column;
  }
}

.title,
.boySection,
.girlSection {
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.8em;
}

.title {
  @include Device.Responsive(mobile) {
    font-size: 1.3em;
  }
}

.boySection,
.girlSection {
  font-size: 1em;
  flex: 1;
  @include Device.Responsive(mobile) {
    font-size: 0.8em;
  }
}

.girlSection {
  @include Device.Responsive(mobile) {
    margin-top: 50px;
  }
}
