@use "../Responsive.scss" as Device;

.container {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 20px;
  margin-right: 20px;
}

.title {
  text-align: center;
}

.title1 {
  font-size: 2.1em;
  letter-spacing: 2px;
}

.title1 {
  font-size: 1.5em;
}

.container2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 50px;
}

.container2 div {
  flex: 1;
  text-align: center;
}

