.container {

  margin-left: 20px;
  margin-right: 20px;
}

.timeline {
  height: 100vh;
  display: flex;
}

.text {
}

.timelineRight {
  height: 100%;
  // background-color: red;
  width: 75%;
  margin-top: -10px;

}

.timelineLeft {
  height: 100%;

  // background-color: blue;
  width: 25%;
  background-size: cover; /* Added */
  background-position: bottom center;
  flex-direction: column;
  display: flex;
}

// .container {
//   display: flex;
//   justify-content: center;
//   flex-direction: row;
//   height: 200vh;
//   align-items: flex-start;
//   padding-top: 20px;
// }

// .left {
//   width: 45%;
//   background-size: cover; /* Added */
//   background-position: bottom center;
//   flex-direction: column;
//   display: flex;
// }

// .left div {
//   margin-left: auto;
//   margin-right: auto;
//   display: block;
// }

// .right {
//   width: 45%;
//   background-size: cover; /* Added */
//   background-position: bottom center;
//   flex-direction: column;
//   display: flex;
// }

// .middle {
//   width: 10%;
//   display: flex;
//   justify-content: center;
//   align-items: flex-end;
//   background-size: cover; /* Added */
//   background-position: bottom center;
//   padding-top: 10px;
//   padding-bottom: 10px;
//   height: 100%;
// }
