@mixin Responsive($breakpoint) {
    @if $breakpoint == web {
      @media only screen and (min-width: 1280px) {
        @content;
      }
    }
  
    @if $breakpoint == tablet {
      @media only screen and (min-width: 768px) {
        @content;
      }
    }
  
    @if $breakpoint == mobile {
      @media only screen and (max-width: 767px) {
        @content;
      }
    }
  
    @if $breakpoint == min1500{
      @media only screen and (min-width: 1500px) {
        @content;
      }
    }
  
    @if $breakpoint == max500{
      @media only screen and (max-width: 500px) {
        @content;
      }
    }
  
  
  
  
  
  
  
  
  
  
  
  
  
    @if $breakpoint == size885 {
      @media only screen and (max-width: 885px) {
        @content;
      }
    }
  
    @if $breakpoint == size690 {
      @media only screen and (max-width: 690px) {
        @content;
      }
    }
  
    @if $breakpoint == size480 {
      @media only screen and (max-width: 480px) {
        @content;
      }
    }
  
    @if $breakpoint == size450 {
      @media only screen and (max-width: 450px) {
        @content;
      }
    }
  
    @if $breakpoint == size380 {
      @media only screen and (max-width: 380px) {
        @content;
      }
    }
  
    // height
    @if $breakpoint == height1 {
      @media only screen and (max-width: 500px) and (max-height: 800px) {
        @content;
      }
    }
  
    @if $breakpoint == height2 {
      @media only screen and (max-width: 768px) and (max-height: 900px) {
        @content;
      }
    }
  }
  